<ul class="notifications">
  <% @notifications.each do |notification| %>
    <li class="<%= notification.unread? ? 'unread' : 'read' %>">
      <%= render_notification_partial(notification) %>
    </li>
  <% end %>
</ul>